<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">

          <div class="row intro">
            <div class="col">
              <h3 class="slide-h">مبادرة الرائد الجامعي</h3>
              <img class="slide-image" ng-src="img/ionic_logo_white.png"/>
              <p class="slide-p">
                قم بالدخول لحسابك او إنشاء حساب جديد
              </p>
            </div>
          </div>

    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <a class="login button button-block" ui-sref="login">
          تسجيل الدخول
        </a>
      </div>
      <div class="col col-center">
        <a class="sign-up button button-block" ui-sref="register">
          حساب جديد
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
