<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>إعدادات الحساب</span>
  </ion-nav-title>
  <ion-content padding="1">
    <div class="profile-pic-wrapper">
  <div class="user-avatar">
      <a class="button button-icon icon ion-camera" ng-click="change_user_avatar()"></a>
      <input id="file" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" hidden/>
      <img class="user-image" ng-src="{{user_avatar}}" ng-click="change_user_avatar()">
  </div>

</div>
    <div class="card settings-card">
      <div class="item item-text-wrap">
        <div class="list">
          <div class="item item-divider">
            معلومات الحساب
          </div>
          <form class="userDataForm" name="userInfoForm">
          <label class="item item-input">
            <span class="input-label">الأسم</span>
            <input type="text" name="name" ng-model="userInfo.displayname" placeholder="الأسم">
          </label>
          <label class="item item-input">
            <span class="input-label">اسم المستخدم</span>
            <input type="text" name="username" disabled ng-model="userInfo.username" placeholder="اسم المستخدم">
          </label>
          <label class="item item-input">
            <span class="input-label">البريد الإليكتروني</span>
            <input type="email" name="email" ng-model="userInfo.email" placeholder="البريد الإليكتروني">
          </label>
        </form>
        </div>
      </div>
      <div class="item item-text-wrap">
        <div class="list">
          <div class="item item-divider">
إعدادات البرنامج
          </div>

          <label class="item item-input">
            <span class="input-label">التنبيهات</span>
            <ion-toggle ng-model="notifications" toggle-class="toggle-positive">{{notifications ? "تعمل" : "لا تعمل"}}</ion-toggle>
          </label>

        </div>
      </div>
    </div>

      <button class="button button-block button-positive" ng-click="saveSettings(userInfo)" ng-disabled="userInfo.email.length<6 || userInfoForm.email.$invalid">
        حفظ الأعدادات
      </button>
  </ion-content>
</ion-view>
